WCFClient_E5/Connected Services/ServiceReference1/AccountsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SqlModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SqlModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccounts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Accounts" nillable="true" type="tns:Accounts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccounts" nillable="true" type="tns:ArrayOfAccounts" />
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="cancelUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cookies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="daytimePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="daytimePhoneAreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loginAppleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loginPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shippingUserFistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shippingUserLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shippingUserStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shippingUserStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w1Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w1detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w2Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w2detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w3Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="w3detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wCount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accounts" nillable="true" type="tns:Accounts" />
</xs:schema>